@import "react-toolbox/lib/colors";
@import '../components/variables.css';
.flexRowSpread {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexRow {
    display: flex;
    align-items: center;
}
.materialIcons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.pageContainer{
    padding: 2rem;
}
.iconButton i{
    color: white;
}